<div class="row small">
<div class="card col-md-4 offset-1">
            <div class="card-header">
                <h3><i class="fas fa-user-check"></i> Déjà Membre : Connexion</h3>
            </div>
            {% for message in app.flashes("infoConnexion") %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
            <div class="card-body">
            {#
                {{ form_start(formConnexion) }}
                <div class="form-group row">
                    {{ form_label(formConnexion.email) }}
                    {{ form_widget(formConnexion.email,  {'attr': {'class' : 'form-control'}}) }}
                </div>
                <div class="form-group row">
                    {{ form_label(formConnexion.password) }}
                    {{ form_widget(formConnexion.password,  {'attr': {'class' : 'form-control'}}) }}
                </div>
                <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
                {{ form_widget(form._token) }}
                {{ form_end(formConnexion) }}

                #}
                
                <form method="post" action="{{ path('app_login') }}">
                    <div class="form-group">
                        <label for="inputEmail">Email</label>
                        <input type="email" value="" name="email" id="inputEmail" class="form-control" required autofocus>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword">Mot de Passe</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" required>

                    </div>
                    <div class="col-md-12 btn-group" style="padding:0px">
                    <input type="hidden" name="_csrf_token"
                     value="{{ csrf_token('authenticate') }}"
    >
                        <button class="btn btn-primary" type="submit">
                            Connexion                        
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-1"></div>
    <div class="card col-md-5">
        <div class="card-header">
            <h3><i class="fas fa-user-plus"></i> Nouveau Membre : Inscription</h3>
        </div>
        {% for message in app.flashes("info") %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
        <div class="card-body">
            {{ form_start(form) }}
            <div class="form-group row">
                {{ form_label(form.nom) }}
                {{ form_widget(form.nom,  {'attr': {'class' : 'form-control'}}) }}
            </div>
            <div class="form-group row">
                {{ form_label(form.prenom) }}
                {{ form_widget(form.prenom,  {'attr': {'class' : 'form-control'}}) }}
            </div>
            <div class="form-group row">
                {{ form_label(form.email) }}
                {{ form_widget(form.email,  {'attr': {'class' : 'form-control'}}) }}
            </div>
            <div class="form-group row">
                {{ form_label(form.password) }}
                {{ form_widget(form.password,  {'attr': {'class' : 'form-control'}}) }}
            </div>
            <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
            {{ form_end(form) }}
            <div>
                <br>
                <a href="{{ path('app_login') }}" class="">Déjà inscrit ? Connectez-vous ici !</a>
            </div>
        </div>
    </div>
</div>

